@import "tailwindcss";
.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}
.ant-slider-track {
  border: 2px solid #46a358;
}
.ant-slider .ant-slider-hendler::after {
  box-shadow: 0 0 0 2px #46a358;
}
.ant-slider .ant-slider-hendler::after:hover {
  box-shadow: 0 0 0 2px #46a358;
}
.ant-select-selection-item {
  font-size: 15px;
  color: #3d3d3d;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #46a358;
  border-color: #46a358;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #46a358;
  border-color: #46a358 !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #46a358 !important;
}
